
:root {
  --primary-color: #000000;
  --secondary-color: #EEEEEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Poppins', sans-serif;
  width: 100%;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 1.5;

  white-space: pre-line;
}

/* Header */
header {
  color: var(--secondary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  height: 48px;
  opacity: 0.8;
}

.logo-link {
  width: 60px;
}

.icon {
  width: 20px;
  height: 20px
}

.navbar a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list li {
  list-style: none;
}

.nav-list li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.links {
  display: flex;
  gap: 20px;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* BackToTop Button */
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;


  border-radius: 50%; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.6;
}

#back-to-top:hover {
  opacity: 1;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;


  text-align: center;
  padding-top: 60px;
  margin-bottom: 200px;

  height: 100vh;
  width: 100%;

/*   background-image: url('/public/concert.png');
  background-size: cover; */
}

.intro-image {
  width: 100%;
  height: auto;

  opacity: 0.9;
  position: absolute;
  top: 50px;
  z-index: -1;
}

.intro h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.intro h4 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.intro p {
  width: 560px;

  font-weight: 400;
  margin-bottom: 1.5rem;
  text-shadow: #071662  0px 0px 5px;
}

/* Entries */
.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 40px;
}

.entry-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 90%;
  height: 100%;
  flex-wrap: wrap; /* allows wrapping if too narrow */
  opacity: 0;
}


.entry-container img {
  width: 100%;
  height: auto;
  max-width: 740px;
  flex-shrink: 1; /* allows shrinking if needed */
  border-radius: 10px;
}


.vertical-line {
  width: 1px;
  background-color: var(--secondary-color);
  align-self: stretch; /* ✅ fills the vertical space of its flex parent */
}



/* Entry Text */
.entry-text {
  flex: 1;
  min-width: 300px; 
  max-width: 740px; 
  display: flex;
  flex-direction: column;
}

.entry-heading h2 {
  font-size: 90px;
  font-weight: 700;
}

.entry-heading h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.track-details p {
  opacity: 0.8;
  line-height: 1.2;
}

/* .album-name {
  font-size: 20px;
  font-weight: 600;
} */

.track-details {
  margin-bottom: 20px;
}

.entry-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;

}

.entry-description:last-child {
  margin-bottom: 0;
  line-height: 2;
}

.quote {
  font-size: 1.5rem;
  font-weight: 700;
}


/* Single entry styling */

/* i-never-die entry */
#villain-dies a {
  color: rgb(255, 0, 76);
}

/* perm entry */
#perm {
  background-color: #ffffff;
  color: var(--primary-color);
}

#perm img {
  transform: scale(1.2);
}

#perm .vertical-line {
  background-color: var(--primary-color);
}

#perm a {
  color: #d6251f;
}

/* queencard entry */
#queencard a {
  color: #f4a4dc;
}





@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
}

.fade-in.in-view {
  animation: fade-in 0.8s 0.2s ease-in-out forwards;
}

@media (max-width: 1200px) {
  .entry-container {
    flex-direction: column;
    text-align: center;
  }

  .vertical-line {
    display: none;
  }

  .entry-text {
    max-width: none;
    align-items: center;
  }
}
